  <md-content class="page-content" >
    <ui-view name="hero"></ui-view>
    <h1 class="md-display-1">The Accountant Your Business Needs</h1>
    <p>
      I work with veterinarians to help you and your practice be successful.  As a veterinary CPA, I provide an array of accounting, tax and financial advisory services. Because I am experienced with the common issues and challenges that veterinarians deal with on a day-to-day basis, I am able to quickly identify financial or operational issues and suggest changes that will make your practice more profitable.
    </p>
    <p>
      If you are looking for a veterinary CPA for your practice, you’ve found the right one. Not only do I work with small business owners, I work with veterinarians across the county to provide valuable financial and tax advisory services to help your practice thrive.  We are members of VetPartners, a non-profit professional organization designed to help professionals to better serve the veterinary industry. We also abide by the VetPartners Code of Ethics so you can be sure we are conducting business with the highest of ethical standards.
  </p>
  </md-content>
