<div>
  <div class="page-heading">
    <h1>CPA Services for Veterinary Practices</h1>
    <p id="subheading">
      <span class="subheading-text"> bookkeeping </span> 
      <i class="fa fa-circle" aria-hidden="true"></i> 
      <span class="subheading-text"> tax preparation </span> 
      <i class="fa fa-circle" aria-hidden="true"></i> 
      <span class="subheading-text"> consulation and strategy </span> 
    </p>
  </div>

<section class="section1">
  <img id="profile-pic" ng-src="{{ctrl.profilePic}}" alt="">
  <h2 id="provider-name"><strong>Stan Moshero</strong>, CPA</h2>
    <address id="contact-info">
      <i class="fa fa-phone" aria-hidden="true" style="margin-top: 20px"> </i> 
      <span class="bold">{{ctrl.provider.tel}}</span>
      <br>
      <i class="fa fa-envelope-o" style="margin-top: 20px"> </i>
      <span class="bold"><a href="mailto:{{ctrl.provider.email}}">{{ctrl.provider.email}}</a></span>
      <br>
      <a style="text-decoration:none" href="https://goo.gl/maps/1okmtzEUX6P2" target="_blank">
        <i class="fa fa-map-marker" style="margin-top: 20px"></i> 
        <span id="address1" class="bold">{{ctrl.provider.address1}}</span><br>
        <i class="fa fa-map-marker" style="visibility:hidden;padding:0"></i> 
        <span id="address2" class="bold">{{ctrl.provider.address2}}</span><br></a>
    </address>
</section>




</div>