<md-toolbar layout="row" layout-align="start center" layout-wrap

      class="navbar md-primary "
      nav-bar-aria-label="navagation links"
      md-whiteframe="4">
      <!--<div flex="10"></div>-->
  <div flex flex-offset-gt-md="15" flex-offset-gt-xs="10" flex-offset-xs="5">
      <md-button ui-sref="home" ui-sref-active="active" flex  style="margin-left:-20px">
        Home
      </md-button>
      <md-button ui-sref="services" ui-sref-active="active" flex>
        Services
      </md-button>
      <md-button ui-sref="about" ui-sref-active="active" flex>
        About
      </md-button>
      <md-button ui-sref="blog" ui-sref-active="active" flex>
        Blog
      </md-button>
  </div>
 
  <div hide-xs flex-offset-gt-sm="20" flex-offset-sm="10" flex="20" layout="row" layout-align="space-around center">
      <a ng-repeat="source in ctrl.socialLinks" target="blank" href="{{source.url}}"><i class="fa {{source.faClass}}"></i></a>
  </div>
</md-toolbar>